* {
  font-family: 'Roboto', sans-serif;

}

::-webkit-scrollbar {
  background-color: black;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
}

* {
  image-rendering: pixelated;
  -webkit-user-drag: none;
}

body {
  background: #111;
  color: white;
  overflow-x: hidden;
}

#wrap {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

#canvas {
  margin: 0 auto;
  display: block;
  position: relative;
  margin-top: 25px;
  cursor: pointer;
  z-index: 10;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

button,
input {
  margin-top: 5px;
  position: relative;
}

button {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:active {
  color: grey;
}


#editor-textures {
  color: white !important;
  text-decoration: none;
}

.tile {
  margin-top: 10px;
  margin-right: 2px;
}

#old-layout {
  position: relative;
}

#bottom {
  height: 300px;
  width: 900px;
  margin: 0 auto;
  display: block;
  background: rgb(2, 2, 2);
  position: relative;
}

#chat-window {
  height: 240px;
  width: 435px;
  background: rgb(36, 36, 36);
  top: 10px;
  left: 10px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}

#chat-input {
  height: 30px;
  width: 415px;
  bottom: 10px;
  left: 10px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  font-family: "Roboto" !important;
  border: none;
  background: #111;
  color: white;
}

#chat-input:focus {
  outline: 0;
}

.chat-message {
  position: relative;
  display: block;
  min-height: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(20, 20, 20);
}

#inventory-window {
  height: 280px;
  width: 435px;
  background: rgb(36, 36, 36);
  top: 10px;
  right: 10px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}

.inventory-slot {
  height: 75px;
  width: 75px;
  margin: 5px;
  display: inline-block;
  position: relative;
  background: url("textures/ui/common_slot.png");
  background-size: 75px;
  cursor: pointer;
}

.item-slot-image {
  height: 75px;
  width: 75px;
  margin: 5px;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 5px;
}

.item-background {
  height: 75px;
  width: 75px;
  margin: 5px;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 5px;
}


.menu{
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgb(56, 56, 56);
  /* height: 100px; */
  width: 150px;
  z-index: 99999;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.menu-option{
  width: 94%;
  padding: 3%;
  background: rgb(37, 37, 37);
  cursor: pointer;
}

.menu-option:hover{
  background: rgb(0, 0, 0);
}

#login-background{
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.829);
  top: 0px;
  left: 0px;
  z-index: 100;
}

#login-page{
  width: 400px;
  height: 400px;
  background: rgb(31, 31, 31);
  position: relative;
  margin: 0 auto;
  margin-top: 150px;
}

#login-text, #login-sword{
  height: 200px;
  position: absolute;
  margin-left: -80px;
  top: -120px;
}

#login-sword{
  animation: sword 5s infinite ease-in-out;
}

@keyframes sword {
  0% { left: -0px; }
  50% { left: -30px; }
  100% { left: -0px; }
}

#username, #password{
  width: 94%;
  margin: 0 auto;
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  padding: 3%;
  border: none;
  font-size: 20px;
  background: rgb(44, 44, 44);
  color: white;
}

#login-cred{
  top: 100px;
  width: 90%;
  position: relative;
  margin: 0 auto;
  color: rgb(231, 83, 83);
}

.btn{
  background: rgb(214, 58, 58);
  font-size: 18px;
  width: 49%;
  border: none;
  height: 40px;
  margin: 0 auto;
  transition: all .1s;
  margin-bottom: 5px;
}

.btn:hover{
  background: rgb(65, 65, 65);
  color: white;
}

button:focus {outline:0;}